em {
  font-style: normal;
}
.pkgContent {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.pkgContent > div {
  height: 100%;
  float: left;
}
.pkgContent .itemList {
  width: 310px;
  border-right: 1px solid #b5b5b5;
  background-color: #ffffff;
}
.pkgContent .itemList > div {
  width: 100%;
}
.pkgContent .itemList .itemListTitle {
  border-bottom: 1px solid #b5b5b5;
  padding-left: 16px;
}
.pkgContent .itemList .itemListTitle .pkgName {
  line-height: 34px;
}
.pkgContent .itemList .itemListTitle p {
  color: #0babb9;
  font-size: 14px;
  position: relative;
}
.pkgContent .itemList .itemListTitle p > .disFlgClass {
  position: absolute;
  right: 16px;
  display: inline-block;
  display: block;
  line-height: 100%;
  top: 8px;
}
.pkgContent .itemList .itemListTitle p > .disFlgClass > .giveClass {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #f24f64;
  color: #ffffff;
  text-align: center;
  line-height: 16px;
  font-style: normal;
}
.pkgContent .itemList .itemListTitle .pkgControl > .pkgNum {
  margin-right: 10px;
}
.pkgContent .itemList .itemListTitle .pkgControl > .subTotal {
  display: block;
  float: right;
  margin: 5px 15px 0px 0px;
}
.pkgContent .itemList .itemListTitle .pkgControl > .subTotal > del {
  font-size: 12px;
  display: inline-block;
  color: #999999;
}
.pkgContent .itemList .itemListTitle .pkgControl > .subTotal > strong {
  font-size: 16px;
  color: #0babb9;
}
.pkgContent .itemList .itemListTitle .pkgControl.disabledClass {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.pkgContent .itemList .itemListTitle .priceFormula {
  position: relative;
  width: 308px;
  left: -14px;
  margin: 5px 0;
  overflow: hidden;
  line-height: 1.4;
}
.pkgContent .itemList .itemListTitle .priceFormula > p {
  display: flex;
  align-items: center;
}
.pkgContent .itemList .itemListTitle .priceFormula > p > span {
  text-align: center;
  color: #666666;
  overflow: hidden;
}
.pkgContent .itemList .itemListTitle .priceFormula .w_total {
  width: 90px;
}
.pkgContent .itemList .itemListTitle .priceFormula .w_price {
  width: 66px;
}
.pkgContent .itemList .itemListTitle .priceFormula .w_method {
  width: 70px;
}
.pkgContent .itemList .itemListTitle .priceFormula .w_totalPrice {
  width: 78px;
}
.pkgContent .itemList .itemListTitle .priceFormula .sign {
  width: 10px;
}
.pkgContent .itemList .itemListContent {
  height: 449px;
  overflow: hidden;
  border-bottom: 1px solid #b5b5b5;
}
.pkgContent .itemList .itemListContent .itemGroupTitle {
  background-color: #e4e4e4;
  height: 30px;
  line-height: 30px;
  color: #333333;
  padding-left: 16px;
}
.pkgContent .itemList .itemListContent .itemGroupTitle.active {
  background-color: #0babb9;
}
.pkgContent .itemList .itemListContent ul {
  height: 100%;
  overflow-y: auto;
}
.pkgContent .itemList .itemListContent ul li {
  color: #333333;
  border-bottom: 1px solid #b5b5b5;
  padding: 0px 16px 4px 16px;
  cursor: pointer;
}
.pkgContent .itemList .itemListContent ul li .itemCode {
  color: #999999;
  font-size: 12px;
}
.pkgContent .itemList .itemListContent ul li .item {
  position: relative;
  overflow: hidden;
}
.pkgContent .itemList .itemListContent ul li .item > span {
  display: block;
  float: left;
}
.pkgContent .itemList .itemListContent ul li .item > span.itemName {
  width: 130px;
  word-break: normal;
  word-wrap: break-word;
  max-height: 36px;
  overflow: hidden;
  line-height: 18px;
  padding: 2px;
}
.pkgContent .itemList .itemListContent ul li .item > span.itemMethodPrice {
  width: 64px;
  position: absolute;
  bottom: -2px;
  left: 140px;
}
.pkgContent .itemList .itemListContent ul li .item > span.vipClasss {
  position: absolute;
  background-color: #e0ba4d;
  right: 55px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  bottom: -2px;
  color: #ffffff;
}
.pkgContent .itemList .itemListContent ul li .item > span.itemNum {
  width: 72px;
  text-align: right;
  position: absolute;
  right: 0px;
  bottom: -2px;
}
.pkgContent .itemList .itemListContent ul li .itemRemarks {
  color: #0babb9;
}
.pkgContent .itemList .itemListContent ul li .itemRemarks > span > strong {
  font-weight: 100;
  margin: 0px 2px;
}
.pkgContent .itemList .itemListContent ul li.active {
  background-color: #ddf1f6;
}
.pkgContent .itemList .showListCount {
  position: absolute;
  left: 20px;
  height: 48px;
  width: 136px;
  line-height: 48px;
}
.pkgContent .itemList .listPager {
  float: right;
  width: 138px;
  padding: 6px 16px;
}
.pkgContent .actionBtn {
  width: 56px;
  background-color: #e4e4e4;
  position: relative;
}
.pkgContent .actionBtn::before {
  content: " ";
  position: absolute;
  border-left: 4px solid;
  height: 100%;
  border-color: rgba(197, 197, 197, 0.3);
  z-index: 1;
}
.pkgContent .actionBtn > ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.pkgContent .actionBtn > ul > li {
  margin-bottom: 2px;
  padding-left: 3px;
  background-color: #fff;
  border-radius: 0px 5px 5px 0px;
  height: 44px;
  width: 50px;
  overflow: hidden;
  cursor: pointer;
}
.pkgContent .actionBtn > ul > li.btnDisabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.pkgContent .actionBtn > ul > li > span {
  display: table-cell;
  width: 41px;
  height: 44px;
  border-radius: 0 5px 5px 0;
  text-align: center;
  color: #666666;
  word-break: break-word;
  vertical-align: middle;
  line-height: 20px;
}
.pkgContent .menu {
  position: absolute;
  left: 366px;
  right: 0px;
  padding: 6px 0px 12px 0px;
}
.pkgContent .menu > .mueContent {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #b5b5b5;
}
.pkgContent .menu > .mueContent > .menuClass {
  height: 56px;
  border-bottom: 1px solid #b5b5b5;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassList {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  border-right: 1px solid #b5b5b5;
  box-shadow: -6px 0px 0px #ececec inset;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassList > ul {
  height: 100%;
  width: 10000px;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassList > ul > li {
  float: left;
  height: 100%;
  width: 88px;
  padding: 8px;
  overflow: hidden;
  cursor: pointer;
  color: #666666;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassList > ul > li > span {
  display: table-cell;
  width: 72px;
  height: 40px;
  text-align: center;
  word-break: break-word;
  vertical-align: middle;
  line-height: 20px;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassList > ul > li.active {
  color: #0babb9;
  border-bottom: 2px solid #0babb9;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassList.classListWidth {
  width: 384px;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassPager {
  width: 118px;
  overflow: hidden;
  margin-top: 11px;
  float: right;
  margin-right: 0px;
}
.pkgContent .menu > .mueContent > .menuClass > .allSmallClass {
  width: 72px;
  float: left;
  height: 55px;
  text-align: center;
  line-height: 58px;
  cursor: pointer;
}
.pkgContent .menu > .mueContent > .menuClass > .allSmallClass.active {
  color: #0babb9;
  border-bottom: 2px solid #0babb9;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassList {
  width: 458px;
  height: 100%;
  float: left;
  overflow: hidden;
  border-right: 1px solid #b5b5b5;
  box-shadow: -6px 0px 0px #ececec inset;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassList > ul {
  height: 100%;
  width: 10000px;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassList > ul > li {
  float: left;
  height: 100%;
  width: 78px;
  padding: 8px;
  overflow: hidden;
  cursor: pointer;
  color: #666666;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassList > ul > li > span {
  display: table-cell;
  width: 72px;
  height: 40px;
  text-align: center;
  word-break: break-word;
  vertical-align: middle;
  line-height: 20px;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassList > ul > li.active {
  color: #0babb9;
  border-bottom: 2px solid #0babb9;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassList.classListWidth {
  width: 342px;
}
.pkgContent .menu > .mueContent > .menuClass > .menuClassPager {
  width: 118px;
  overflow: hidden;
  margin-top: 11px;
  float: right;
}
.pkgContent .menu > .mueContent > .menuList {
  height: 482px;
  width: 100%;
  border-bottom: 1px solid #b5b5b5;
  padding: 4px;
  background-color: #f5f5f5;
  clear: both;
}
.pkgContent .menu > .mueContent > .menuList > ul {
  overflow: hidden;
}
.pkgContent .menu > .mueContent > .menuList > ul > li {
  width: 118px;
  height: 78px;
  border: 1px solid #b5b5b5;
  float: left;
  margin: 4px;
  padding: 5px;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
}
.pkgContent .menu > .mueContent > .menuList > ul > li.sellout {
  background-color: rgba(245, 245, 245, 0.5);
  color: #999999;
}
.pkgContent .menu > .mueContent > .menuList > ul > li > p {
  line-height: 1.34;
}
.pkgContent .menu > .mueContent > .menuList > ul > li > p:nth-child(1) {
  font-size: 12px;
  color: #999999;
}
.pkgContent .menu > .mueContent > .menuList > ul > li > p:nth-child(1) > span.itemLimit {
  padding: 0px 6px;
  border-radius: 8px;
  background-color: #ffa71d;
  color: #ffffff;
}
.pkgContent .menu > .mueContent > .menuList > ul > li > p:nth-child(1) > span.itemSellout {
  padding: 0px 6px;
  border-radius: 8px;
  background-color: #cccccc;
  color: #ffffff;
}
.pkgContent .menu > .mueContent > .menuList > ul > li > p:nth-child(2) {
  max-height: 36px;
  overflow: hidden;
}
.pkgContent .menu > .mueContent > .menuList > ul > li > p:nth-child(3) {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.pkgContent .menu > .mueContent > .menuList > ul > li > em {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  transform: translate(21%, -21%);
  background-color: #f24f64;
  border-radius: 50%;
  line-height: 20px;
  padding: 2px;
  text-align: center;
  color: #ffffff;
}
.pkgContent .menu > .mueContent > .menuList > ul > .active {
  color: #0babb9;
  border: 1px solid #0babb9;
}
.pkgContent .menu > .mueContent > .menuList > ul > .active > p:nth-child(1) {
  color: #0babb9;
}
.pkgContent .menu > .mueContent > .menuControl {
  padding: 9px 5px;
}
.pkgContent .menu > .mueContent > .menuControl > .menuSearch {
  width: 245px;
  padding: 0px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  float: left;
}
.pkgContent .menu > .mueContent > .menuControl > .menuSearch > label {
  height: 34px;
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
}
.pkgContent .menu > .mueContent > .menuControl > .menuSearch > label > input {
  border: none;
  height: 100%;
}
.pkgContent .menu > .mueContent > .menuControl > .menuListPager {
  width: 130px;
  float: right;
}
.lang-enUS .priceFormula p.title {
  font-size: 12px;
  line-height: 1;
  padding-bottom: 6px;
}
.lang-enUS .itemList .itemListContent {
  height: 430px;
}
.lang-enUS .pkgContent .actionBtn li span {
  font-size: 12px;
  line-height: 1.2;
  width: 50px;
}
